body{
    background-image: url(https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/10/0a/1a/03.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
   }
main{
      backdrop-filter: blur(3px);
}
   div{
    border: 1px;
    border-style: solid;
    background-color: blanchedalmond;
    margin: 4em;
    padding: 5px 40px 5px 25px;
    width: 150px;
}
section{
    display: flex;
    flex-flow: row nowrap;
}
h1{
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
    border: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;

}
h2{
    background-color: yellow;
    width: 230px;
    padding: 10px;
    border: 25px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    color: #15619c;
}
h4{
    background-color: coral;
    padding: 10px;
    border: 30px;
    border-style: dotted;
    border-width: 2px;
    border-color: blueviolet;
    width: 150px;

}