body{
    background-image: url(pantry.gif);
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-size: cover;
   }

main{
    backdrop-filter: blur(4px);
}

div{
    margin-left: 5px;
    border: 1px;
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(255, 235, 205, 0.416);
    margin: 3em;
    padding: 1px 40px 1px 5px;
    width: 150px;
    height: 150px;
    
}
section{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 175px;
    height: 145px;
    margin-top: 2px;
    margin-left: 5px;
}

h1{
    
    width: 500px;
    border-width: 2px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(127, 255, 212, 0.54);
    padding: 10px;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}

h2{
    border-radius: 15px;
    background-color: rgba(255, 255, 0, 0.453);
    width: 200px;
    padding: 10px;
    border-top: 5px;
    border-bottom: 5px;
    border-style: solid;
    border-width: 2px;
    color: #020e18d0;
    margin-left: 20px;
    }

h4{
    background-color:#9642f54b ;
    width: 135px;
    height: 25px;
    padding: 2px;
    border-top: 5x;
    border-bottom: 5px;
    }

h5{
    font-style: italic;
}
footer{
    font-style: italic;
     color:aliceblue;
    text-align: right;
    border-style:dotted;
    border-width: 2px;
    width: 25%;
    text-align: center;
    margin-left: auto;
    }
        /*  

h4{
    text-align: center;
    background-color: coral;
    padding: 3px 15px;
    border: 20px;
    border-style: dotted;
    border-width: 2px;
    border-color: blueviolet;
    width: 150px;
    margin-left: 1px;
}
    margin-top: 2px;
    padding: 2px;
}

*/